.navbar{
   height:20%;
   width:100%;
   margin-top: 0%;
   background-color: rgb(18, 150, 147);
   color: rgb(231, 244, 59);
   display:flex;
}

.navbar-logo{
    display: flex;
    position:relative;
  
}

.navbar-logo h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-left:20px ;
}

.features ul {
    display:flex;
    flex-direction: row;
  
}
.features ul li{
    color:rgb(18, 150, 147);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    display: flex;
    margin:10px;
    left: 900px;
    position: relative;
}

